@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}

header {
  max-width: 1440px;
  margin-inline: auto;
  padding-block: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header nav {
  display: flex;
  align-items: center;
  gap: 75px;
}
header nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  z-index: 1;
}
header nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  background-color: #333;
  transform: translateX(-50%);
}
header nav a:hover::after {
  width: 100%;
}
header nav .header-navbar_icons {
  align-items: center;
  gap: 45px;
  display: none;
}
header nav .header-navbar_icons a {
  font-size: 0;
}
header div {
  display: flex;
  align-items: center;
  gap: 45px;
}
header div a {
  font-size: 0;
}
header button {
  background-color: transparent;
  border: 0;
}
header .fas {
  display: none;
  position: absolute;
  right: 20px;
  top: 33px;
  color: #B88E2F;
  font-size: 30px;
}

@media (max-width: 992px) {
  header {
    justify-content: start;
    padding-inline: 10px;
  }
  .header-navbar {
    flex-direction: column;
    gap: 20px;
    position: fixed;
    right: -100%;
    background-color: #FFF3E3;
    align-items: center;
    display: none;
    width: 70%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    top: 0;
    transition: right 0.5s ease-in;
  }
  .header-navbar.open {
    right: 0;
    display: flex;
  }
  .fas {
    display: block !important;
  }
  .header-icons {
    display: none;
  }
  .header-navbar_icons {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hero__container {
  max-width: 1440px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
}
.hero__container img {
  width: 100%;
  object-fit: cover;
}
.hero__container .hero__content {
  max-width: 663px;
  position: absolute;
  right: 58px;
  top: 153px;
  background: #FFF3E3;
  display: flex;
  flex-direction: column;
  padding: 62px 43px;
  gap: 20px;
  border-radius: 10px;
}
.hero__container .hero__content h1 {
  font-size: 52px;
  color: #B88E2F;
  font-weight: bold;
  text-transform: capitalize;
}
.hero__container .hero__content .hero__subtitle {
  font-weight: 600;
}
.hero__container .hero__content .hero__description {
  font-weight: 500;
  font-size: 18px;
}
.hero__container .hero__content p {
  color: #666;
}
.hero__container .hero__content a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 25px 72px;
  background: #B88E2F;
  max-width: 222px;
  transition: all 0.3s ease-in;
}
.hero__container .hero__content a:hover {
  background: #333;
}
@media (max-width: 1290px) {
  .hero__container .hero__content {
    top: 30px;
  }
}

@media (max-width: 1050px) {
  .hero__container {
    overflow: auto !important;
  }
  .hero__container img {
    display: none;
  }
  .hero__content {
    max-width: 100% !important;
    width: 100%;
    position: static !important;
  }
  .hero__content h1 {
    font-size: 20px !important;
  }
  .hero__content p {
    font-size: 16px !important;
  }
  .hero__content a {
    padding: 25px !important;
    text-align: center;
  }
}