.contact-content {
  max-width: 1058px;
  margin-block: 80px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-inline: 15px;

  justify-content: center;
  .contact-content__text {
    max-width: 644px;
    text-align: center;
    margin-inline: auto;

    h4 {
      font-size: 36px;
      font-weight: 600;
    }

    p {
      color: #9F9F9F;
    }
  }

  form {
   display: flex;
   flex-direction: column;
   gap: 10px;
    input, textarea  {
      padding: 30px 15px;
      border: 1px solid currentColor;
      color: #9F9F9F;
      border-radius: 5px;
    }

    button {
      padding: 13px 88px;
      background-color: #B88E2F;
      color: #fff;
      border: 0;
      cursor: pointer;
      transition: all .3s ease-in;

      &:hover {
        background-color: black;
      }
    }
  }
}